.header {
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(90deg, #cccccc 0%, #ffffff 70%);
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}